---
layout: archive
permalink: /review/page3/
title: "My Review"
author_profile: true
pagination_context:
  current_page: 3
  total_pages: 4 # You'd update this if the total changes
  base_url_segment: "/review/page" # e.g., for generating /review/page2/, /review/page3/
                                 # Or, if page 1 is /review/ and others are /review/pageN:
                                 # base_url_page1: "/review/"
                                 # base_url_others: "/review/page"
---


{% include base_path %}


{% for post in site.portfolio %}
{% if post.path contains '/page3/' %}
  {% include archive-single.html %}
  {% endif %}
{% endfor %}



