---
layout: archive
permalink: /review/page1/
title: "My Review"
author_profile: true
---


{% include base_path %}

<div class="archive-intro">
  <p>I review everything from movies, animes, games to musics. From short comments to detailed discussions about the background of the composition.</p>
</div>

{% for post in site.portfolio %}
{% if post.path contains '/page1/' %}
  {% include archive-single.html %}
  {% endif %}
{% endfor %}



<div class="pagination">
  <span>Page：</span>
  <div style="width: 20px;"></div> <!-- 添加一个占位符 -->
  {% assign total_pages = 4 %}
  <a href="{{ site.baseurl }}/review/page1/">1</a>
  {% for page_num in (2..total_pages) %}
    <a href="{{ site.baseurl }}/review/page{{ page_num }}/"> {{ page_num }}</a>
  {% endfor %}
</div>
