<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ site.baseurl }}/PhotoAsset/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/PhotoAsset/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/PhotoAsset/assets/css/ie8.css" /><![endif]-->
    <style>
        /* 添加媒体查询 */
        @media only screen and (max-width: 930px) {
            /* 在小屏幕设备上调整样式 */
            #main article.thumb {
                width: 100%;
                margin-bottom: 20px;
            }
            #main article.thumb img {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        {% include header.html %}

        <!-- Main -->
        <div id="main">
            {{ content }}
        </div>

        <!-- Footer -->
        {% include footer.html %}

    </div>

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/jquery.poptrox.min.js"></script>
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="{{ site.baseurl }}/PhotoAsset/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/main.js"></script>

</body>
</html>
