<!DOCTYPE HTML>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
<head>
    
	{% include head.html %}
    	{% include head/custom.html %}
	<link rel="stylesheet" href="../PhotoAsset/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	
        
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        
        <!-- Main -->
        <div id="main">
            {{ content }}
        </div>

        <!-- Footer -->
        
        
    </div>
    </div>

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/jquery.poptrox.min.js"></script>
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="{{ site.baseurl }}/PhotoAsset/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="{{ site.baseurl }}/PhotoAsset/assets/js/main.js"></script>

</body>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
</html>
